*{
    margin: 0px;
    padding: 0px;
    
}

html,
body{
    width: 100%;
    height: 100%;
}

header{
    place-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
}
header nav.con{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

header nav div{
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cfcfcf;
}

header nav .row{
    width: 100%;
    margin: 0;
}

header nav div .slogo{
    width:80%;
}

header nav div .logo{
    height: 80%;
    cursor: pointer;
}

header nav div .logo:hover{
    filter: brightness(150%);
}

header nav .snav .moreop{
    cursor: pointer;
    width: 60px;
    font-size: 12px;
}

header nav .snav .moreop:hover{
    color: white;
}

header nav .lnav .navop{
    font-size: 11px;
    cursor: pointer;
}

header nav .lnav .navop:hover{
    color: white;
}

@media (min-width:768px){
    header nav .snav *{
        display: none;
    }
    header nav .snav{
        display: none;
    }
}

@media (max-width:768px){
    header nav .lnav *{
        display: none;
    }
    header nav .lnav{
        display: none;
    }
}

.background{
    width: 100%;
    height: 100%;
    background-color: #fbebc3;
}

.background main{
    width: 100%;
    height: 100%;
}

.background main .first{
    width: 100%;
    height: 250px;
    padding-top: 50px;
}

.background main .first h1{
    text-align: center;
    font-size: 40px;
}

.background main .video{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: blue;
}

.background main .video video{
    width: 90%;
}
